@font-face {
  font-family: 'Neue Haas Grotesk Display';
  src: url('/fonts/5549031/5e356b56-25c1-43ac-9524-44e597eb7172.woff2')
      format('woff2'),
    url('/fonts/5549031/bb63728c-a742-41fb-929f-64692e41d2e7.woff')
      format('woff');
  /* font-display: swap; */
  font-weight: 400;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display';
  src: url('/fonts/5548986/4746c4e5-3355-4f8f-8395-3f7abfcbf4b8.woff2')
      format('woff2'),
    url('/fonts/5548986/0058324c-ca31-42b1-bf5b-b9d9025c1a9c.woff')
      format('woff');
  /* font-display: swap; */
  font-weight: 500;
}

:root {
  --color-indigo-100: #f9fafa;
  --color-indigo-200: #e4e6ea;
  --color-indigo-300: #c7ccd5;
  --color-indigo-400: #939bad;
  --color-indigo-500: #616c85;
  --color-indigo-600: #071e4a;
  --color-indigo: var(--color-indigo-600);

  --color-sky-600: #ebf2ff;
  --color-sky: var(--color-sky-600);

  --color-blue-100: #e8f3fe;
  --color-blue-200: #d0e5fd;
  --color-blue-300: #a4cdfb;
  --color-blue-400: #7cb4fa;
  --color-blue-500: #1f93ff;
  --color-blue: var(--color-blue-500);

  --color-purple-100: #f0edfe;
  --color-purple-200: #e2dafc;
  --color-purple-300: #c4b6f7;
  --color-purple-400: #a993f5;
  --color-purple-500: #8e73f1;
  --color-purple: var(--color-purple-500);

  --color-yellow-100: #fefaf1;
  --color-yellow-200: #fcf5e1;
  --color-yellow-300: #faeac3;
  --color-yellow-400: #f6e0a8;
  --color-yellow-500: #f1cb73;
  --color-yellow: var(--color-yellow-500);

  --color-green-100: #ecfaf6;
  --color-green-200: #d8f4ec;
  --color-green-300: #b4e8d9;
  --color-green-400: #93dec6;
  --color-green-500: #5fc8a1;
  --color-green: var(--color-green-500);

  --color-orange-100: #fcefed;
  --color-orange-200: #f9dfda;
  --color-orange-300: #f2c0b7;
  --color-orange-400: #eea295;
  --color-orange-500: #e56b57;
  --color-orange: var(--color-orange-500);

  --color-grey-100: #f3f4f6;
  --color-grey: var(--color-grey-100);

  --color-white-100: #fff;
  --color-white: var(--color-white-100);

  --gradient-indigo: linear-gradient(
    134.5deg,
    #071d49 48.58%,
    #071d49 72.99%,
    rgba(22, 134, 238, 0.38) 122.32%
  );
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.15;
  -moz-tab-size: 4;
  tab-size: 4;
  color: var(--color-indigo);
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Neue Haas Grotesk Display', 'Helvetica Neue', 'Arial Nova',
    Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-image: linear-gradient(
    134.5deg,
    rgba(50, 35, 50, 1) 0%,
    rgba(235, 242, 255, 1) 0%,
    rgba(255, 255, 255, 1) 35%
  );
}

[id] {
  scroll-margin-top: 120px;
}

@media (min-width: 768px) {
  [id] {
    scroll-margin-top: 140px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Neue Haas Grotesk Display';
  font-weight: 500;
}

h1 {
  font-size: 32px;
}

@media only screen and (min-width: 720px) {
  h1 {
    font-size: 64px;
  }
}

hr {
  height: 0;
  color: inherit;
  border-top: 1px solid #e4e6ea;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
    monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

summary {
  display: list-item;
}

a {
  text-decoration: none;
}

strong {
  font-weight: 500;
}

/* Screen Reader Only */
.u-sr-only {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  white-space: nowrap !important;
  border: 0 !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
}

/*
  Use in conjunction with .sr-only to only display content when it's focused.
  Useful for skip to content links
*/
.u-sr-only-focusable:focus,
.u-sr-only-focusable:active {
  overflow: visible !important;
  clip: auto !important;
  width: auto !important;
  height: auto !important;
  margin: auto !important;
  white-space: normal !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
}

/* .has-gradient */
.has-gradient--dark-blue {
  color: #fff;
  background: linear-gradient(
    134.5deg,
    #071d49 48.58%,
    #071d49 72.99%,
    rgba(22, 134, 238, 0.38) 122.32%
  );
  background-color: var(--color-indigo-600);
}

.has-gradient--blue-to-white {
  background-image: linear-gradient(
    134.5deg,
    rgba(50, 35, 50, 1) 0%,
    rgba(235, 242, 255, 1) 0%,
    rgba(255, 255, 255, 1) 35%
  );
}

.u-gradient-text--dark-to-blue {
  background: linear-gradient(
    134.5deg,
    #071e4a 48.58%,
    #1f93ff 72.99%,
    rgba(22, 134, 238, 0.38) 122.32%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.u-gradient-text--blue-to-white {
  background: linear-gradient(
    134.5deg,
    rgba(50, 35, 50, 1) 0%,
    rgba(31, 147, 255, 1) 0%,
    rgba(255, 255, 255, 1) 53%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .typography */

.u-type-h1 {
  font-size: 26px;
  line-height: 1;
  font-weight: 500;
}

@media only screen and (min-width: 321px) {
  .u-type-h1 {
    font-size: 32px;
  }
}

@media only screen and (min-width: 720px) {
  .u-type-h1 {
    font-size: 64px;
  }
}

.u-type-h2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

@media only screen and (min-width: 321px) {
  .u-type-h2 {
    font-size: 21px;
  }
}

@media only screen and (min-width: 720px) {
  .u-type-h2 {
    font-size: 36px;
    line-height: 42px;
  }
}

.u-type-h3 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
}

@media only screen and (min-width: 321px) {
  .u-type-h3 {
    font-size: 24px;
  }
}

@media only screen and (min-width: 720px) {
  .u-type-h3 {
    font-size: 21px;
    line-height: 24px;
  }
}

.u-type-body-xs {
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
}

@media only screen and (min-width: 321px) {
  .u-type-body-xs {
    font-size: 12px;
  }
}

@media only screen and (min-width: 720px) {
  .u-type-body-xs {
    font-size: 14px;
    line-height: 18px;
  }
}

.u-type-body-sm {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

@media only screen and (min-width: 720px) {
  .u-type-body-sm {
    font-size: 16px;
    line-height: 24px;
  }
}

.u-type-body-md {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

@media only screen and (min-width: 321px) {
  .u-type-body-md {
    font-size: 16px;
  }
}

@media only screen and (min-width: 720px) {
  .u-type-body-md {
    font-size: 18px;
    line-height: 24px;
  }
}

.u-type-body-lg {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

@media only screen and (min-width: 321px) {
  .u-type-body-lg {
    font-size: 18px;
  }
}

@media only screen and (min-width: 720px) {
  .u-type-body-lg {
    font-size: 21px;
    line-height: 28px;
  }
}

.u-type-body-xl {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

@media only screen and (min-width: 321px) {
  .u-type-body-xl {
    font-size: 21px;
  }
}

@media only screen and (min-width: 720px) {
  .u-type-body-xl {
    font-size: 24px;
    line-height: 32px;
  }
}

.u-type-body-xxl {
  font-size: 21px;
  line-height: 28px;
  font-weight: normal;
}

@media only screen and (min-width: 321px) {
  .u-type-body-xxl {
    font-size: 24px;
  }
}

@media only screen and (min-width: 720px) {
  .u-type-body-xxl {
    font-size: 36px;
    line-height: 48px;
  }
}

.u-text-center {
  text-align: center;
}

.u-mt-0 {
  margin-top: 0 !important;
}

.u-mb-0 {
  margin-bottom: 0 !important;
}

.u-color-blue {
  color: var(--color-blue);
}

/* .spacing */
.u-pt-0 {
  padding-top: 0 !important;
}

.u-pb-0 {
  padding-bottom: 0 !important;
}

.c-pill.svelte-542l83 {
  display: inline-flex;
  border-radius: 30px;
  min-width: 98px;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 1;
  align-items: center;
  justify-content: center;
}
.c-pill--upper.svelte-542l83 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 500;
}
.c-pill--white.svelte-542l83 {
  color: var(--color-indigo);
  background-color: #fff;
}
.c-pill--blue.svelte-542l83 {
  color: #fff;
  background-color: var(--color-blue-500);
}
.c-pill--blue-100.svelte-542l83 {
  color: var(--color-indigo);
  background-color: var(--color-blue-100);
}
.c-pill--grey.svelte-542l83 {
  color: var(--color-indigo);
  background-color: var(--color-grey);
}

.o-wrapper.svelte-17nnfco {
  width: 100%;
  padding: 1em 16px;
}
@media (min-width: 321px) {
  .o-wrapper.svelte-17nnfco {
    padding: 1em 24px;
  }
}
.o-wrapper--center.svelte-17nnfco {
  margin-left: auto;
  margin-right: auto;
}
.o-wrapper--x-wide.svelte-17nnfco {
  max-width: 1440px;
  padding: 0 8px;
}
.o-wrapper--wide.svelte-17nnfco {
  max-width: 1280px;
}
.o-wrapper--standard.svelte-17nnfco {
  max-width: 1100px;
}
.o-wrapper--content.svelte-17nnfco {
  padding: 0;
  max-width: 768px;
}
.o-wrapper--content-wide.svelte-17nnfco {
  max-width: 1160px;
}
.o-spacer.svelte-5e0zcj {
  width: 100%;
  min-height: 1px;
}
.o-spacer--xs.svelte-5e0zcj {
  height: 24px;
}
.o-spacer--sm.svelte-5e0zcj {
  height: 32px;
}
.o-spacer--md.svelte-5e0zcj {
  height: 64px;
}
.o-spacer--lg.svelte-5e0zcj {
  height: 96px;
}
.o-spacer--xl.svelte-5e0zcj {
  height: 96px;
}
@media only screen and (min-width: 720px) {
  .o-spacer--xl.svelte-5e0zcj {
    height: 120px;
  }
}
.o-spacer--2xl.svelte-5e0zcj {
  height: 96px;
}
@media only screen and (min-width: 321px) {
  .o-spacer--2xl.svelte-5e0zcj {
    height: 120px;
  }
}
@media only screen and (min-width: 720px) {
  .o-spacer--2xl.svelte-5e0zcj {
    height: 160px;
  }
}
.o-spacer--3xl.svelte-5e0zcj {
  height: 160px;
}
@media only screen and (min-width: 720px) {
  .o-spacer--3xl.svelte-5e0zcj {
    height: 192px;
  }
}
.o-spacer--4xl.svelte-5e0zcj {
  height: 192px;
}
@media only screen and (min-width: 720px) {
  .o-spacer--3xl.svelte-5e0zcj {
    height: 240px;
  }
}
.c-share.svelte-11yuefj {
  display: flex;
  align-items: center;
  background-color: var(--color-grey);
  padding: 16px 32px;
  border-radius: 50px;
  margin-bottom: 40px;
  max-width: 250px;
}
@media only screen and (min-width: 1024px) {
  .c-share.svelte-11yuefj {
    position: sticky;
    top: 150px;
    right: 0;
    margin-bottom: 0;
  }
}
.c-share__links.svelte-11yuefj {
  margin-left: 48px;
}
.c-share__link.svelte-11yuefj {
  display: inline-block;
  margin-right: 24px;
}
.c-post-meta.svelte-zxyvhy {
  display: flex;
  margin-top: 40px;
}
.c-post-meta__image.svelte-zxyvhy {
  max-width: 64px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 14px #071e4a17;
}
.c-post-meta__content.svelte-zxyvhy {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.c-post-meta__name.svelte-zxyvhy,
.c-post-meta__role.svelte-zxyvhy,
.c-post-meta__date.svelte-zxyvhy {
  margin: 0;
}
.c-post-meta__name.svelte-zxyvhy {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 6px;
}
.b-content.svelte-1e39ha5 {
  background-image: url(/images/arc-bg-light.png);
  background-position: top left;
  background-repeat: no-repeat;
}
.b-content__inner.svelte-1e39ha5 {
  display: flex;
  flex-direction: column-reverse;
}
@media only screen and (min-width: 1024px) {
  .b-content__inner.svelte-1e39ha5 {
    flex-direction: row;
  }
}
.b-content__cta.svelte-1e39ha5 {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 24px;
}
@media only screen and (min-width: 1024px) {
  .b-content__cta.svelte-1e39ha5 {
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
    margin-left: 100px;
    margin-top: 0;
  }
}
.b-content__wrapper.svelte-308d19 p,
.b-content__wrapper.svelte-308d19 li,
.b-content__wrapper.svelte-308d19 a,
.b-content__wrapper.svelte-308d19 span {
  font-size: 16px;
  line-height: 24px;
}
.b-content__wrapper.svelte-308d19 h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}
@media only screen and (min-width: 720px) {
  .b-content__wrapper.svelte-308d19 h3 {
    font-size: 21px;
    line-height: 24px;
  }
}
.b-content__wrapper.svelte-308d19 a {
  display: inline-block;
  position: relative;
  color: var(--color-indigo-600);
  font-weight: 500;
}
.b-content__wrapper.svelte-308d19 img {
  max-width: 100%;
  border-radius: 30px;
}
.b-content__wrapper.svelte-308d19 a:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--color-indigo-600);
  bottom: 1px;
}
@media only screen and (min-width: 720px) {
  .b-content__wrapper.svelte-308d19 p,
  .b-content__wrapper.svelte-308d19 li,
  .b-content__wrapper.svelte-308d19 a,
  .b-content__wrapper.svelte-308d19 span {
    font-size: 18px;
    line-height: 28px;
  }
}
.b-content__wrapper.svelte-308d19 p {
  margin-bottom: 24px;
}
@media only screen and (min-width: 720px) {
  .b-content__wrapper.svelte-308d19 p {
    margin-bottom: 32px;
  }
}
.b-content__wrapper.svelte-308d19 ol,
.b-content__wrapper.svelte-308d19 ul {
  margin-bottom: 70px;
}
.b-content__wrapper.svelte-308d19 ul {
  padding-left: 20px;
}
.b-content__wrapper.svelte-308d19 ul.c-icon-list,
.b-content__wrapper.svelte-308d19 ol {
  padding-left: 0;
}
.b-content__wrapper.svelte-308d19 ol {
  counter-reset: ordered-counter;
  list-style: none;
}
.b-content__wrapper.svelte-308d19 ol li {
  counter-increment: ordered-counter;
}
.b-content__wrapper.svelte-308d19 ol li:before {
  content: counter(ordered-counter);
  display: inline-flex;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey);
  margin-right: 18px;
}
.b-content__wrapper.svelte-308d19 li {
  margin-bottom: 20px;
}
.b-content__wrapper.svelte-308d19 ul li::marker {
  color: var(--color-blue-500);
  font-size: 22px;
}
.b-content__wrapper.svelte-308d19 h1,
.b-content__wrapper.svelte-308d19 h2,
.b-content__wrapper.svelte-308d19 h3,
.b-content__wrapper.svelte-308d19 h4,
.b-content__wrapper.svelte-308d19 h5 {
  margin-top: 50px;
}
.b-content__wrapper.svelte-308d19 h2 {
  font-size: 21px;
  line-height: 27px;
  font-weight: 400;
  margin-bottom: 24px;
}
.b-content__wrapper.svelte-308d19 .c-card__title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}
@media only screen and (min-width: 720px) {
  .b-content__wrapper.svelte-308d19 h2 {
    font-size: 36px;
    line-height: 42px;
  }
}
.b-content__wrapper.svelte-308d19 > p:first-child {
  font-size: 21px;
  line-height: 24px;
  margin-top: 0;
}
.b-content__wrapper.svelte-308d19 > p:first-child a {
  font-size: 21px;
  line-height: 24px;
}
@media only screen and (min-width: 720px) {
  .b-content__wrapper.svelte-308d19 > p:first-child {
    font-size: 24px;
    line-height: 32px;
  }
}
@media only screen and (min-width: 720px) {
  .b-content__wrapper.svelte-308d19 > p:first-child a {
    font-size: 24px;
    line-height: 32px;
  }
}
@media only screen and (max-width: 767px) {
  .b-content__wrapper.svelte-308d19 .c-icon-list-item--horizontal {
    flex-direction: column;
  }
}

/* Team */
.b-team {
  padding: 64px 0;
  color: #fff;
  background-color: var(--color-indigo);
  min-height: 80vh;
}

@media (min-width: 321px) {
  .b-team {
    padding: 120px 0;
  }
}

@media (min-width: 768px) {
  .b-team {
    padding: 160px 0;
  }
}

@media (max-width: 767px) {
  .b-team__filter {
    margin-top: 24px;
  }
}

:global(.b-team__filter .c-button + .c-button) {
  margin-left: 8px;
}

@media (min-width: 768px) {
  :global(.b-team__filter .c-button + .c-button) {
    margin-left: 16px;
  }
}

@media (max-width: 767px) {
  :global(.b-team .c-heading) {
    align-items: flex-start;
    flex-direction: column;
  }
}
/* card */
.c-card--team {
  display: flex;
  margin-bottom: 24px;
  flex-direction: column;
  gap: 16px;
  border-radius: 30px;
}

@media only screen and (min-width: 321px) {
  .c-card--team {
    margin-bottom: 24px;
  }
}

@media only screen and (min-width: 768px) {
  .c-card--team {
    margin-bottom: 40px;
    gap: 33px;
  }
}

.c-card__media {
  position: relative;
}

.c-card__image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 30px;
  transition: box-shadow 0.3s ease-in-out;
}

.c-card--team.has-bio:hover .c-card__image {
  cursor: pointer;
  box-shadow: 0 0 32px rgba(255, 255, 255, 0.4);
}

.c-card__name {
  margin-bottom: 8px;
}

:global(.c-card--team .c-icon) {
  position: absolute;
  bottom: 16px;
  right: 16px;
}
/*cards grid */
.c-cards-grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  width: 100%;
}
.c-cards-grid .c-card {
  flex-basis: calc(
    (100% / var(--mobile-cols)) - ((var(--mobile-cols) - 1) * var(--gap)) /
      var(--mobile-cols)
  );
  flex-grow: 0;
  flex-shrink: 0;
}
/* wrapper */
.o-wrapper {
  width: 100%;
  padding: 0 16px;
}

@media (min-width: 321px) {
  .o-wrapper {
    padding: 0 24px;
  }
}

.o-wrapper--center {
  margin-left: auto;
  margin-right: auto;
}

.o-wrapper--x-wide {
  max-width: 1440px;
  padding: 0 8px;
}

.o-wrapper--wide {
  max-width: 1280px;
}

.o-wrapper--standard {
  max-width: 60%;
}

.o-wrapper--content {
  padding: 0;
  max-width: 768px;
}

.o-wrapper--content-wide {
  max-width: 1160px;
}

.c-team-profile__content-inner p {
  font-size: 1.1em;
  line-height: 1.5;
}

/* Partners */
.o-p-wrapper {
  border-bottom: 1px solid grey;
  padding: 1em 0;
}
.o-p-row {
  display: flex;
  padding: 1em;
}
.o-p-col:first-child {
  width: 15%;
}
.o-p-col {
  width: 85%;
}

.o-p-col .c-p-image {
  max-width: 100%;
  max-height: 60px;
}
.o-p-col.c-p-label {
  font-weight: bold;
}
