@font-face {
  font-family: 'Neue Haas Grotesk Display';
  src: url('/fonts/5549031/5e356b56-25c1-43ac-9524-44e597eb7172.woff2')
      format('woff2'),
    url('/fonts/5549031/bb63728c-a742-41fb-929f-64692e41d2e7.woff')
      format('woff');
  /* font-display: swap; */
  font-weight: 400;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display';
  src: url('/fonts/5548986/4746c4e5-3355-4f8f-8395-3f7abfcbf4b8.woff2')
      format('woff2'),
    url('/fonts/5548986/0058324c-ca31-42b1-bf5b-b9d9025c1a9c.woff')
      format('woff');
  /* font-display: swap; */
  font-weight: 500;
}

:root {
  --color-indigo-100: #f9fafa;
  --color-indigo-200: #e4e6ea;
  --color-indigo-300: #c7ccd5;
  --color-indigo-400: #939bad;
  --color-indigo-500: #616c85;
  --color-indigo-600: #071e4a;
  --color-indigo: var(--color-indigo-600);

  --color-sky-600: #ebf2ff;
  --color-sky: var(--color-sky-600);

  --color-blue-100: #e8f3fe;
  --color-blue-200: #d0e5fd;
  --color-blue-300: #a4cdfb;
  --color-blue-400: #7cb4fa;
  --color-blue-500: #1f93ff;
  --color-blue-600: #0075E3;
  --color-blue: var(--color-blue-500);

  --color-purple-100: #f0edfe;
  --color-purple-200: #e2dafc;
  --color-purple-300: #c4b6f7;
  --color-purple-400: #a993f5;
  --color-purple-500: #8e73f1;
  --color-purple: var(--color-purple-500);

  --color-yellow-100: #fefaf1;
  --color-yellow-200: #fcf5e1;
  --color-yellow-300: #faeac3;
  --color-yellow-400: #f6e0a8;
  --color-yellow-500: #f1cb73;
  --color-yellow: var(--color-yellow-500);

  --color-green-100: #ecfaf6;
  --color-green-200: #d8f4ec;
  --color-green-300: #b4e8d9;
  --color-green-400: #93dec6;
  --color-green-500: #5fc8a1;
  --color-green: var(--color-green-500);

  --color-orange-100: #fcefed;
  --color-orange-200: #f9dfda;
  --color-orange-300: #f2c0b7;
  --color-orange-400: #eea295;
  --color-orange-500: #e56b57;
  --color-orange: var(--color-orange-500);

  --color-grey-100: #f3f4f6;
  --color-grey: var(--color-grey-100);

  --color-white-100: #fff;
  --color-white: var(--color-white-100);

  --gradient-indigo: linear-gradient(
    134.5deg,
    #071d49 48.58%,
    #071d49 72.99%,
    rgba(22, 134, 238, 0.38) 122.32%
  );
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.15;
  -moz-tab-size: 4;
  tab-size: 4;
  color: var(--color-indigo);
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  /* scroll-behavior: smooth; */
}

body {
  margin: 0;
  font-family: 'Neue Haas Grotesk Display', 'Helvetica Neue', 'Arial Nova',
    Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-image: linear-gradient(
    134.5deg,
    rgba(50, 35, 50, 1) 0%,
    rgba(235, 242, 255, 1) 0%,
    rgba(255, 255, 255, 1) 35%
  );
}
@media (max-width: 1023px) {
  .mobile-fixed {
    position: fixed;
  }
}

[id] {
  scroll-margin-top: 120px;
}

@media (min-width: 768px) {
  [id] {
    scroll-margin-top: 140px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Neue Haas Grotesk Display';
  font-weight: 500;
}

h1 {
  font-size: 32px;
}

@media only screen and (min-width: 720px) {
  h1 {
    font-size: 64px;
  }
}

hr {
  height: 0;
  color: inherit;
  border-top: 1px solid #e4e6ea;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
    monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

input[type='checkbox'] {
  accent-color: var(--color-blue);
}
button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

summary {
  display: list-item;
}

a {
  color: var(--color-blue-600);
  transition: all 300ms;
}

a:hover {
  color: var(--color-indigo-600);
}

strong {
  font-weight: 500;
}

/* Screen Reader Only */
.u-sr-only {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  white-space: nowrap !important;
  border: 0 !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
}

/*
  Use in conjunction with .sr-only to only display content when it's focused.
  Useful for skip to content links
*/
.u-sr-only-focusable:focus,
.u-sr-only-focusable:active {
  overflow: visible !important;
  clip: auto !important;
  width: auto !important;
  height: auto !important;
  margin: auto !important;
  white-space: normal !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
}

/* .has-gradient */
.has-gradient--dark-blue {
  color: #fff;
  background: linear-gradient(
    134.5deg,
    #071d49 48.58%,
    #071d49 72.99%,
    rgba(22, 134, 238, 0.38) 122.32%
  );
  background-color: var(--color-indigo-600);
}

.has-gradient--blue-to-white {
  background-image: linear-gradient(
    134.5deg,
    rgba(50, 35, 50, 1) 0%,
    rgba(235, 242, 255, 1) 0%,
    rgba(255, 255, 255, 1) 35%
  );
}

.u-gradient-text--dark-to-blue {
  background: linear-gradient(
    134.5deg,
    #071e4a 48.58%,
    #1f93ff 72.99%,
    rgba(22, 134, 238, 0.38) 122.32%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.u-gradient-text--blue-to-white {
  background: linear-gradient(
    134.5deg,
    rgba(50, 35, 50, 1) 0%,
    rgba(31, 147, 255, 1) 0%,
    rgba(255, 255, 255, 1) 53%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .typography */

.u-type-h1 {
  font-size: 26px;
  line-height: 1;
  font-weight: 500;
}

@media only screen and (min-width: 321px) {
  .u-type-h1 {
    font-size: 32px;
  }
}

@media only screen and (min-width: 720px) {
  .u-type-h1 {
    font-size: 64px;
  }
}

.u-type-h2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

@media only screen and (min-width: 321px) {
  .u-type-h2 {
    font-size: 21px;
  }
}

@media only screen and (min-width: 720px) {
  .u-type-h2 {
    font-size: 36px;
    line-height: 42px;
  }
}

.u-type-h3 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
}

@media only screen and (min-width: 321px) {
  .u-type-h3 {
    font-size: 24px;
  }
}

@media only screen and (min-width: 720px) {
  .u-type-h3 {
    font-size: 21px;
    line-height: 24px;
  }
}

.u-type-body-xs {
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
}

@media only screen and (min-width: 321px) {
  .u-type-body-xs {
    font-size: 12px;
  }
}

@media only screen and (min-width: 720px) {
  .u-type-body-xs {
    font-size: 14px;
    line-height: 18px;
  }
}

.u-type-body-sm {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

@media only screen and (min-width: 720px) {
  .u-type-body-sm {
    font-size: 16px;
    line-height: 24px;
  }
}

.u-type-body-md {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

@media only screen and (min-width: 321px) {
  .u-type-body-md {
    font-size: 16px;
  }
}

@media only screen and (min-width: 720px) {
  .u-type-body-md {
    font-size: 18px;
    line-height: 24px;
  }
}

.u-type-body-lg {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

@media only screen and (min-width: 321px) {
  .u-type-body-lg {
    font-size: 18px;
  }
}

@media only screen and (min-width: 720px) {
  .u-type-body-lg {
    font-size: 21px;
    line-height: 28px;
  }
}

.u-type-body-xl {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

@media only screen and (min-width: 321px) {
  .u-type-body-xl {
    font-size: 21px;
  }
}

@media only screen and (min-width: 720px) {
  .u-type-body-xl {
    font-size: 24px;
    line-height: 32px;
  }
}

.u-type-body-xxl {
  font-size: 21px;
  line-height: 28px;
  font-weight: normal;
}

@media only screen and (min-width: 321px) {
  .u-type-body-xxl {
    font-size: 24px;
  }
}

@media only screen and (min-width: 720px) {
  .u-type-body-xxl {
    font-size: 36px;
    line-height: 48px;
  }
}

.u-type-body-xxxl {
  font-size: 28px;
  line-height: 36px;
  font-weight: normal;
}

@media only screen and (min-width: 321px) {
  .u-type-body-xxxl {
    font-size: 32px;
  }
}

@media only screen and (min-width: 720px) {
  .u-type-body-xxxl {
    font-size: 36px;
    line-height: 48px;
  }
}

@media only screen and (min-width: 1024px) {
  .u-type-body-xxxl {
    font-size: 42px;
    line-height: 52px;
  }
}

.u-text-center {
  text-align: center;
}

.u-mt-0 {
  margin-top: 0 !important;
}

.u-mb-0 {
  margin-bottom: 0 !important;
}

.u-color-blue {
  color: var(--color-blue);
}

/* .spacing */
.u-pt-0 {
  padding-top: 0 !important;
}

.u-pb-0 {
  padding-bottom: 0 !important;
}
